<!DOCTYPE html>

<html>
<body>

<form action="/" method="POST">
    <label for="street">Street:</label><br>
    <input type="text" id="street" name="street"><br>

    <label for="suburb">Suburb:</label><br>
    <input type="text" id="suburb" name="suburb"><br>

    <label for="city">City:</label><br>
    <input type="text" id="city" name="city"><br>

    <label for="postal_code">Postal Code:</label><br>
    <input type="text" id="postal_code" name="postal_code"><br>

    <label for="country">Country:</label><br>
    <input type="text" id="country" name="country"><br>

    <input type="submit" value="Submit">
</form> 

</body>
</html>